.main-container {
  background-color: #f4f5fa;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Add display flex to allow the main-content to take remaining height */
}

.main-content {
  flex: 1;
  padding: 14px 32px;
  overflow-y: auto; /* Add overflow-y property to allow scrolling when content overflows */
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 30px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-left: 26px;
    padding-right: 16px;
  }
}
