@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400;500;600&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300;400&family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-clr: #5570f1;
  --primary-light-clr: #97a5eb;
  --secondary-clr: #45464e;
  --gray-100-clr: #53545c;
  --gray-200-clr: #8b8d97;
  --tertiary-clr: #ffcc91;
  --white-clr: #fff;
  --black-clr: #000;
  --success-clr: #519c66;
  --error-clr: #cc5f5f;
  --label-clr: #a6a8b1;
  --font-family: "Inter", sans-serif;
  --transition-default: all 100ms ease-in-out;
}

body {
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-hr {
  font-size: 1.3rem;
}

.text-header {
  font-size: 1.3rem;
}

.layout {
  display: flex;
  min-height: 100%;
}

@media screen and (max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 0.75rem !important;
  }
}
